Source: debdelta
Section: devel
Priority: optional
Build-Depends: zlib1g-dev
Maintainer: A Mennucc1 <mennucc1@debian.org>
Standards-Version: 3.7.2

Package: debdelta
Architecture: any
Depends: python (>= 2.1), xdelta, bsdiff, ${shlibs:Depends}
Description: diff and patch utilities which works with Debian packages
 debdelta is an application program designed to compute changes between
 Debian packages. These changes (deltas) are similar to the output of the
 "diff" program in that they may be used to store and transmit only the
 changes between Debian packages.
